<h1>Recipes</h1>

<table class="table table-bordered table-hover">
  <thead class="thread-dark">
    <tr>
      <th>Name</th>
      <th>Instructions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.instructions %></td>
        <td><%= link_to 'Show', recipe, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-secondary" %>
